<div id="content" class="wrap">
	<p><strong>Vous êtes courtier et souhaitez mettre en place des programmes affinitaires pour vos clients ? CFSA vous apporte des solutions innovantes, clés en main et 
	parfaitement adaptées à vos besoins.</strong></p>

	<div id="contact-form">
		{{ simpleform('contact_fr') }}
	</div>
</div>