<div id="content" class="wrap">
	<p><strong>You are a broker and would like to develop an affinity programme for one of your clients ? We can help you to deliver innovative turnkey 
	solutions adapted to your needs</strong></p>

	<div id="contact-form">
		{{ simpleform('contact_en') }}
	</div>
</div>